@import "tailwindcss";

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmer {
  background-image: linear-gradient(
    90deg,
    #e8dad5 0%,
    #f2e9e4 50%,
    #e8dad5 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

